body {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url(./images/pattern.jpeg);
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}